%cta-italic {
    border-bottom: solid 2px $tall-poppy;
    color: $tall-poppy;
    display: inline;
    font-family: $secondary-font;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
        color: $tall-poppy;
        text-decoration: none;
    }
}
